html,
body {
    background: #000;
    color: #F9F9F9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #202020;
    margin: 1em 0;
    padding: 0;
}

.container {
    width: min-max(100%, 500px);

    border-style: solid;
    border-color: darkslategray;
    padding: 5px;
}

.tooltip {
    border-bottom: 1px dotted white;
}

.tooltip .text {
    visibility: hidden;
    width: max-content;
    position: absolute;
    font-style: italic;

    background-color: darkslategray;
}

.tooltip:hover .text {
    visibility: visible;
    margin-left: 0.25vw;
}

.img-holder {
    padding-left: 10%;
}